body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto;
}

.NavBar {
    height: 80px;
    margin-top: 40px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    width: 80%;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease, margin-left 0.5s ease, margin-right 0.5s ease, margin-top 0.01s ease;
    z-index: 1;
}

.NavBarContent {
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 2%;
}

.NavBar.expanded {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
}

#NavList {
    text-decoration: none;
    margin-left: 3%;
    color: black;
}

#HeadLog {
    width: 100%;
    height: 430px;

    text-align: right;
    align-content: center;

    background-image: url('PICS/BGS/LoginBG.png');
    background-repeat: no-repeat;
    background-size: 100% 430px;
    background-position: center;
}

#HeadLogTitle {
    margin-right: 26%;
    color: white;
    font-size: 40px;
    margin-bottom: 0;
}

#HeadLogText {
    margin-right: 26%;
    color: white;
    font-size: 16px;
}

.LogRegForm {
    width: 100%;
    height: 830px;
}

#GForm {
    border: 2px solid black;
    margin-top: 7%;
    width: 75%;
    height: 630px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    box-sizing: border-box;
    position: relative;
    height: 630px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

#DivLogin {
    padding-left: 8%;
    width: 50%;
    height: 100%;
}

#ConLog {
    width: 80%;
    height: 100%;
}

#ConLogHeader {
    margin-top: 30%;
    width: 100%;
}

#ConLogHeader2 {
    margin-top: 15%;
    width: 100%;
}

#ConRegHeader {
    margin-top: 10%;
    width: 100%;
}

#DivRegistration {
    padding-left: 9%;
    width: 50%;
    height: 100%;
}

#ConRegistration {
    width: 80%;
    height: 100%;
}

#FootLog {
    width: 100%;
    height: 430px;
    background-color: black;
}

#usertype {
    width: 100%;
    font-size: 16px;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    padding-bottom: 10px;
}

input[type="email"] {
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    padding-bottom: 10px;
}

input[type="password"] {
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    padding-bottom: 10px;
}

input[type="text"]:focus {
    border-bottom: 2px solid #32CD32;
}

input[type="email"]:focus {
    border-bottom: 2px solid #32CD32;
}

input[type="password"]:focus {
    border-bottom: 2px solid #32CD32;
}

#SubMe {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 174, 24);
    color: white;
}

#Forgot {
    display: flex;
    justify-content: center;
    align-items: center;  
    text-decoration: none;
}

#FixedDiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('PICS/MODELS/RegistrationModel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    transition: right 0.5s ease, left 0.5s ease;
}

#FixedDiv.moved {
    right: 50%;
    left: 0;
}

#shifter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #ffbf00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 40px;
}

#shifter2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #ffbf00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#shifter:hover {
    background-color: #cf9b00;
}

#shifter2:hover {
    background-color: #cf9b00;
}

#shifterText {
    margin-left: 20px;
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-20%, -20%);
    padding: 1px 1px;
    font-size: 40px;
    color: white;
}

#shifter.moved {
    margin-top: 40px;
}